name: Do Windows nightly Companion

on: workflow_dispatch

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release
  VCPKGRS_DYNAMIC: 1
  CARGO_LOG: cargo::core::compiler::fingerprint=trace

jobs:
  build:
    # The CMake configure and build commands are platform agnostic and should work equally
    # well on Windows or Mac.  You can convert this to a matrix build if you need
    # cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: windows-2016

    steps:
    - uses: actions/checkout@v2
      with:
        path: 'sources'

    - name: Create Build Environment
      # Some projects don't allow in-source building, so create a separate build directory
      # We'll use this as our working directory for all subsequent commands
      run: cmake -E make_directory ${{github.workspace}}/build -B ${{github.workspace}}/build -S ${{github.workspace}}/sources &&
          cp ${{github.workspace}}/sources/LICENSE ${{github.workspace}}/build/license.txt
      
    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v1.0.2
      
    - name: Create pthreads programs directory
      run: mkdir "C:\Programs" &&
           mkdir "C:\Programs\pthreads"
           
    - name: OpenSSL
    - uses: actions/checkout@v2
    - uses: sfackler/actions/rustup@master
    - run: echo "::set-output name=version::$(rustc --version)"
      id: rust-version
    - run: echo "VCPKG_ROOT=$env:VCPKG_INSTALLATION_ROOT" | Out-File -FilePath $env:GITHUB_ENV -Append
    - run: vcpkg install openssl:x64-windows
    - uses: actions/cache@v1
      with:
        path: ~/.cargo/registry/index
        key: index-${{ runner.os }}-${{ github.run_number }}
        restore-keys: |
          index-${{ runner.os }}-
    - run: cargo generate-lockfile
    - uses: actions/cache@v1
      with:
        path: ~/.cargo/registry/cache
        key: registry-${{ runner.os }}-${{ steps.rust-version.outputs.version }}-${{ hashFiles('Cargo.lock') }}
    - run: cargo fetch
    - uses: actions/cache@v1
      with:
        path: target
        key: target-${{ github.job }}-${{ steps.rust-version.outputs.version }}-${{ hashFiles('Cargo.lock') }}
    - run: cargo run -p systest
    - run: cargo test -p openssl
    - run: cargo test -p openssl-errors        
      
    - name: download PThreads
      uses: suisei-cn/actions-download-file@v1
      id: pthreads  # Remember to give an ID if you need the output filename
      with:
        url: "https://www.mirrorservice.org/sites/sourceware.org/pub/pthreads-win32/pthreads-w32-2-8-0-release.exe"
        target: ${{github.workspace}}
      
    - name: extract PThreads
      run: 7z x "${{github.workspace}}\pthreads-w32-2-8-0-release.exe" -o"C:\Programs\pthreads" -y
    
    - name: Install Qt
      uses: jurplel/install-qt-action@v2
      with:
        version: '5.11.3'
        host: 'windows'
        target: 'desktop'
        arch: 'win32_msvc2015'
        
    - name: Install dependencies
      run: python -m pip install --upgrade pip Pillow
      
    - name: Install ARM toolchain
      uses: fiam/arm-none-eabi-gcc@v1
      with:
        release: '6-2017-q2'   

    - name: Download libSDL
      uses: suisei-cn/actions-download-file@v1
      id: downloadfile  # Remember to give an ID if you need the output filename
      with:
        url: "http://www.libsdl.org/release/SDL-devel-1.2.15-VC.zip"
        target: ${{github.workspace}}
             
    - name: Install libSDL
      run: 7z e SDL-devel-1.2.15-VC.zip -o"C:\Program Files" -y &&
            move "C:\Program Files\SDL-1.2.15" "C:\Program Files\SDL"
            
    - name: find lib
      working-directory: c:\
      shell: cmd
      run: dir /s libeay32.dll
                   
    - name: Build
      working-directory: ${{github.workspace}}
      shell: cmd
      # Execute the build.  You can specify a specific target with "--target <NAME>"
      run: cmake -A win32 -G "Visual Studio 14" -S ${{github.workspace}}\sources -B ${{github.workspace}}\build -DCMAKE_PREFIX_PATH=C:\Qt\5.11.3\msvc2019 -DPCB=X9E
      
    - name: Build Simu
      working-directory: ${{github.workspace}}\build
      shell: cmd
      run: msbuild radio\src\targets\simu\libsimulator.vcxproj  /t:Rebuild /p:Configuration=Release  
          
    - name: Build
      working-directory: ${{github.workspace}}
      shell: cmd
      # Execute the build.  You can specify a specific target with "--target <NAME>"
      run: cmake -A win32 -G "Visual Studio 14" -S ${{github.workspace}}\sources -B ${{github.workspace}}\build -DCMAKE_PREFIX_PATH=C:\Qt\5.11.3\msvc2019 -DWIN_DO_FULL_INSTALL=YES -DSIMU_TARGET=NO
      
    - name: Build release
      working-directory: ${{github.workspace}}\build
      shell: cmd
      run:   msbuild companion\src\installer.vcxproj /t:Rebuild /p:Configuration=Release
         
    - name: Archive production artifacts
      uses: actions/upload-artifact@v2
      with:
       name: companion-nightly
       path:  ${{github.workspace}}\build\companion\companion*.exe
       retention-days: 1
